* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input {
    width: 70%;
}

.container {
    width: 90%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 30px;
}

button {
    background-color: #03989e;
    border: 2px solid #03989e;
    border-radius: 20px;
    color: white;
    padding: 10px 0;
}

input {
    padding: 10px;
    text-align: center;
}

button:hover {
    background-color: white;
    color: #03989e;
}

main section {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

#options-account a{
    text-decoration: none;
    color: #03989e;
}

#options-account a:hover{
    color: black;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}