* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
}

/* FORM */

#form-post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
}

#form-post div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, select {
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.313);
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: 2px solid #03989e;
}

/* CREATE-POST */

.resize-drag {
    width: 120px;
    border-radius: 8px;
    padding: 10px;
    margin: 1rem;
    color: black;
    border: 1px solid #03989e;
    touch-action: none;
}

.resize-drag:hover {
    color: white;
    background-color: #03989e;
}

#create-post {
    display: flex;
    flex-direction: column;
    min-height: 800px;
}

#create-post article {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.fonct-btn {
    background-color: #03989e;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 33%;
    height: 50px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#create-post {
    border: 2px solid #03989e;
    border-radius: 20px;
    overflow: hidden;
}

#create-btn {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#create-btn a {
    color: black;
    text-decoration: none;
}

#create-btn a:hover {
    color: #03989e;
}

.fonct:hover {
    background-color: #00585b;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}